
.home-menu {
    padding: 50px;
    display: flexbox;
    flex-shrink: 2 ;
    flex-basis: 300px;
}

.nav-item {
    border: solid;
    text-align: center;
}

tr {
    padding: 30px;
}

td {
    padding: 15px;
}

a {
    color: aquamarine;
}