
  <div><p>{{ description }}</p></div>
  <div style="padding: 60px; margin: auto; text-align: cener">
    <table class="home-menu">
      <tr style="padding: 20px;">
        <td></td><td></td><td></td>
        <td class="nav-item"><a href="https://www.facebook.com/ImprovShopSTL/" target="_blank">Watch Now</a></td>
        <td></td><td></td><td></td>
      </tr>
      <tr>
        <td></td>
        <td class="nav-item"><a href="/class-sign-up" target="_blank">Sign-up for classes</a></td>
        <td></td><td></td><td></td>
        <td class="nav-item"><img src="/assets/images/schedule.png" style="width: 75%"/><a href="/schedule" target="_blank">Schedule</a></td>
        <td></td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr>
        <td class="nav-item"><a href="https://theimprovshop.com/diversity/diversity-scholarship/" target="_blank">Scholarships</a></td>
        <td></td><td></td>
        <td><img src="/assets/images/pc-clouds (1).png"/></td>
        <td></td><td></td>
        <td class="nav-item"><a href="https://theimprovshop.com/contact/" target="_blank">Contact Us</a></td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr></tr>
      <tr>
        <td></td>
        <td class="nav-item"><a target="_blank">something</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="nav-item"><a href="https://theimprovshop.com/deldash/" target="_blank">Del-Dash</a></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="nav-item"><a target="_blank">Who are we??</a></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>

  