body {
    background-image: url("/assets/images/Background.jpg");
    background-position: top;
    background-size: cover;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.main-header {
    text-align: center;
    color: aquamarine;
    text-shadow: 2px 3px rebeccapurple;
    font-family: monospace;
    font-weight: lighter;
    padding: 30px;
    font-size: 30px;
}

tr {
    padding: 30px;
}

td {
    padding: 15px;
    height: 40px;
    width: 100px;
}

a {
    color: aquamarine;
}

.home-menu {
    width: 1000px;
    margin: auto;
    padding: 50px;
}
