<div>
  <h1 class="main-header">{{title}}</h1>
</div>
<div style="padding: 60px; text-align: cener">
  <table class="home-menu">
    <tr style="padding: 20px;">
      <td></td>
      <td></td>
      <td></td>
      <td><a>Event Schedule</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><a href="https://theimprovshop.com/classes/"target="_blank">Sign-up for classes</a></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Musicians</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><a href="https://theimprovshop.com/contact/" target="_blank">Contact Us </a></td>
      <td></td>
      <td class="center"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Watch Now!</td>
      <td></td>
      <td></td>
    </tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Who are we??</td>
      <td></td>
      <td></td>
      <td></td>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>
<div>
  <p style="padding: 40px">sponsors</p>
</div>

